@font-face {
    font-family: Qatar2022;
    src: url(assets/fontes/Qatar2022/Qatar2022Arabic-Heavy.ttf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background-image: url("fundo.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Qatar2022;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

image {
    border-color: rgb(107, 14, 53);
    border-width: 15px;
    border-style: solid;
    width: 791x;
    height: 491px;
}

.navbar {
    margin: 0;
    background-color: #333;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;
    font-family: Qatar2022;
    text-align: center;
    overflow: hidden;
}

.navbar div {
    display: inline-block;
}

.navbar > div {
    margin: 0 1rem;
}

.navbar .logotipo a {
    padding: 0;
}

.navbar .logotipo img {
    height: 3rem;
}

.navbar div a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    line-height: 1rem;
}

.navbar div a:hover {
    background-color: #111;
}

.divisao {
    display: flex;
    justify-content: space-between;
}

.divisao section table {
    display: inline-block;
    margin: .2rem;
}

section p {
    padding: 1rem;
    border-radius: 0.3rem;
}

dl {
    padding: 1rem;
    background-color: #333333;
    border-radius: .3rem;
}

li {
 list-style-type: none;
}

.tabela2 th {
    border-collapse: collapse;
    border-style: solid;
    background-color: rgb(146, 9, 9);
    border-color: rgb(0, 0, 0);
    border-width: thin;
}
.tabela2 td {
    border-collapse: collapse;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: thin;
}


.tabela {
    border-collapse: collapse;
    border: none;
    border-radius: .3rem;
    overflow: hidden;
    height: 150px;
    width: 150px;
}

.tabela th {
    background-color: #333333;
}

.tabela td {
    background-color: white;
    color: black;
}

.tabela th, td {
    padding: 0.5rem;
}

.tabela a {
    text-decoration: none;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#333;
    height: auto;
    padding-top: 0.2px;
    padding-bottom: 0.2px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px;
    line-height: 10px;
    font-size: 14px;
    color: #cacdd2;
}

.esconder {
    font-size: 1px;
}

.videoprincipal {
    display: flex;
    justify-content: center;
}

h2 { 
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Qatar2022;
   
}
h3 { 
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Qatar2022;
    font-size: 150%;
    

}

#tabeladiv {
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

#historydiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

#listadrop {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.continente{
    background-color: #333333;
    display: flex;
    width: 300px;
    align-items: center;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.continente i{
    margin-left: auto;
    margin-right: 15px;
}

.continente h2 {
    margin-left: 15px;
}

.paises {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    animation: dropDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.paises li{
    color:black;
    padding: 0.5rem;
}

ul{
    padding-inline-start: 0;
}

.hide {
    display: none;
}

/* Drop down animation */
@keyframes dropDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

#equipasWrapper{
    display: flex;
    flex-direction: column;
}

#fase-grupos{
    margin-top: auto;
}

#listaWrapper{
    min-height: 550px;
}

.tabelawinners {
    border-collapse: collapse;
    border: none;
    border-radius: .3rem;
    overflow: hidden;
    width: 150px;
    
}

.tabelawinners th {
    background-color: #333333;
}

.tabelawinners td {
    background-color: white;
    color: black;
}

.tabelawinners th, td {
    padding: 0.5rem;
}

.tabelawinners a {
    text-decoration: none;
}

figure {
    text-align: center;
}
figcaption {
    color: white;
    font-style: italic;
    padding: 2px;
    margin-top: 0.5em;
  }

#sectionwinnerssemtabela {
    display: flex;
    flex-direction: column;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

section article {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

header {
    background-color: #111;
    padding: 10px;
    overflow: hidden;
    border-radius: .3rem;
    height: 5rem;
}
